body {
    background-color: #EEEEEE;
    width: 100%;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    border-style: none;
}

#head h1 {
    margin-top: 0px;
    font-size: 30px;
}
#head h3 {
    font-weight: 100;
}

.inputbottom {
    position: fixed;
    bottom: 0px;
    background-color: white;
    padding: 15px;
    width: 92%;
    margin-left: 3.5%;
    height: 40px;
    border-radius: 3px;
}
.inputbottom .displayName {
width: 10%;
height: 20px;
justify-content: flex-end;
margin-top: 10px;
}
.inputbottom .comment {
    height: 20px;
    width:75%;
    justify-content: center;
    margin-left:10px;
    margin-top: 10px;
}
.inputbottom .submit {
    height: 25px;
    width: 5%;
    margin-left: 5px;
    border-style: none;
    background-color: transparent;
    margin-top: 10px;
}
button {
    color: #baf4f5;
    font-weight: 100;
    font-size: larger;
    background-color: transparent;
    border-style: none;
    border-radius: 5px;
}
.finalOriginalPost .card {
    padding: 0px;
    margin: 0px;

}
.card {
    background-color: #ffffffce;
    margin-top: 20px;
    padding-top: 20px;
    width: 90%;
    margin-left: 3.5%;
   
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 5px;
}

.card .name {
    font-size: 18px;
    font-weight: 100;
}

.card .comment {
    margin-top: 5px;
    font-size: 35px;
    font-weight: bold;
    width: 900px;
    word-wrap: break-word;
}

.card .editButton,
.card .deleteButton {
    float: right;
 
    border-style: none;
    background: transparent;
}
.finalOriginalPost {
    position: fixed;
    background-color: white;
    padding: 25px;
width: 90%;
}
#holdingContainer {
    width: 90%;
    margin-left: 3.5%;
    height: 115px;
}
.saveButton {
    border-style: none;
    background-color: transparent;
}
.editCommentInput {
    width: 800px;
}
.backgroundContainer {
    background-color: #E5E5E5;
    width: 90%;
    margin-left: 3.5%
}


