body {
  background-color: #F9F1CF;
}

.navbar {
  background-color: #EAA12D;
  padding: 20px;
  font-family: sans-serif;
  overflow: auto;
}

.company-name {
  color: white;
  float: left;
}

.nav-right {
  float: right;
}

.nav-item {
  margin-left: 10px;
  text-decoration: none;
  color: white;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: sans-serif;
}

.card {
  flex-grow: 1;
  width: calc(33.33% - 20px);
  margin: 10px;
  padding: 20px;
  border: 1px solid #EAA12D;
  border-radius: 10px;
  background-color: white;
  font-family: sans-serif;
}

.card h2 {
  margin-top: 0;
}

.card p {
  margin-bottom: 0;
}

.more-info {
  background-color: #EAA12D;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-family: sans-serif;
}

@media screen and (max-width: 768px) {
  .card {
    width: calc(50% - 20px);
  }
}

@media screen and (max-width: 480px) {
  .card {
    width: 100%;
  }
}